<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
const element = document.getElementById("body");
const cookie_text = `<p>Cookie: ${document.cookie}</p>`; 
element.innerHTML += cookie_text;
</script>
</head>

<body id="body">
  <h1>Dashboard</h1>
</body>
</html>
